header {
    display: block;
    text-align: center;
    background-color: rgb(190, 184, 184);
    padding: 15px;
    margin-left: 30px;
    margin-right: 30px;
}

a[href=""] {
    padding: 10px;
}

article {
    margin: 0px 30px 0px 30px;
}

h2 {
    border-bottom: solid black;
}